<!DOCTYPE html>
<html>
<head>
  <title>Assignment</title>

<h1>Assignment</h1>
<h2>Welcome to Lebogang Sekele's Website</h2>
<p><b>Student Number</b>: <i>208227831</i></p>
</head>
<body>



</body>
</html>